.fable {
  --border-color: #cecece;
  --head-color: #a2b2fd;
  --head-height: 100px;
  --foot-color: #2df373;
  --foot-height: 100px;
  --cell-width: var(--fable-cell-width, 80px);
  --cell-height: var(--fable-cell-height, inherit);
  --dashboard-position: 0;

  width: var(--fable-width, 100%);
  position: relative;
}

.fable__body .fable__row:nth-child(even) .fable__cell {
  background: #f9f9f9;
}
.fable__dashboard {
  position: relative;
  top: var(--dashboard-position);
  left: 0; right: 0;
}
.fable__dashboard .fable__cell {
  background: var(--foot-color);
}

.fable__body,
.fable__dashboard {
  display: flex;
  flex-direction: column;
}

.fable__row {
  flex: 1 0 100%;
  display: flex;
}

.fable__cell {
  border-left: 1px solid var(--border-color);
  box-sizing: border-box;
  height: var(--cell-height);
  display: inline-block;
  flex: 0 0 var(--cell-width);
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
