.fable {
  --border-color: #cecece;
  --dash-color: #d9f9e5;
  --stripe-color: #f9f9f9;

  --cell-height: 60px;

  width: 100%;
}

.fable__body .fable__row:nth-child(even) .fable__cell {
  background-color: var(--stripe-color);
}
.fable__body {
  margin-top: calc(3 * var(--cell-height));
}
.fable__dashboard {
  position: fixed;
}
.fable__dashboard .fable__cell {
  background-image: repeating-linear-gradient(-26deg, var(--dash-color) 5px, transparent 10px);
  background-color: #fff;
}
.fable__dashboard .fable__row:last-child .fable__cell {
  border-bottom: 3px double var(--border-color);
}

.fable__body,
.fable__dashboard {
}

.fable__row {
  display: grid;
}

.fable__cell {
  border-right: 1px solid var(--border-color);
  box-sizing: border-box;
  height: var(--cell-height);
  min-width: 80px;
  flex: 1 0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
