.nutrient-calculator-fable {
  --fable-border-color: #cecece;
  --fable-head-color: #a2b2fd;
  --fable-head-height: 100px;
  --fable-foot-color: #2df373;
  --fable-foot-height: 100px;
}

.nutrient-calculator-fable__body {
  padding: var(--fable-head-height) 10px var(--fable-foot-height);
}

.nutrient-calculator-fable__body .nutrient-calculator-fable__cell {
  border-left: 1px solid var(--fable-border-color);
}

.nutrient-calculator-fable__body .nutrient-calculator-fable__row:nth-child(even) {
  background: #fbfbfb;
}

.nutrient-calculator-fable__head {
  font-weight: 600;
  padding: 0 10px;
  position: fixed;
  top: 0; left: 0; right: 0;
  background: var(--fable-head-color);
  height: var(--fable-head-height);
  font-style: italic;
}
.nutrient-calculator-fable__foot {
  padding: 0 10px;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  background: var(--fable-foot-color);
  height: var(--fable-foot-height);
}

.nutrient-calculator-fable__row {
  display: flex;
}

.nutrient-calculator-fable__cell {
  flex-shrink: 0;
  flex-grow: 1;
  padding: 10px 15px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nutrient-calculator-fable__cell:first-child {
  width: 180px;
  border-left: none;
  font-weight: 600;
}
