.layout {
  display: grid;
  grid-template-columns: 350px auto;
}

.layout__labels,
.layout__values {
}

.layout__values {
}
.layout__labels {
  z-index: 100;
}
.layout__labels .fable__row {
  grid-template-columns: 100px 30px;
}
.layout__values .fable__row {
  grid-template-columns: repeat(10, 1fr);
}
.layout__labels .fable__cell:last-child {
  border-right-style: double;
  border-right-width: 3px;
}
.layout__labels .fable__body .fable__cell {
  background-image: repeating-linear-gradient(-33deg, #eae5ff 5px, transparent 10px);
  background-color: #fff;
}
