.nutrient-calculator-table {
  margin: 10px;
  border-collapse: collapse;
}

.nutrient-calculator-table th:first-child,
.nutrient-calculator-table td:first-child {
  font-style: italic;
}
.nutrient-calculator-table th:first-child div,
.nutrient-calculator-table td:first-child div {
  width: 200px;
}

.nutrient-calculator-table tbody td:nth-child(3) {
  background: #daecff;
  border-left: 1px solid #cecece;
}
.nutrient-calculator-table tbody td:nth-child(4) {
  background: #ffffe4;
}
.nutrient-calculator-table tbody td:nth-child(5) {
  background: #fdcfdc;
}
.nutrient-calculator-table tbody td:nth-child(6) {
  background: #fff;
  border-right: 1px solid #cecece;
}

.nutrient-calculator-table th,
.nutrient-calculator-table td {
  padding: 10px 15px;
}

.nutrient-calculator-table th div,
.nutrient-calculator-table td div {
  width: 100px;
}

.nutrient-calculator-table tbody tr:nth-child(even) {
  background: #fbfbfb;
}

.nutrient-calculator-table tfoot td {
  background: #00ffbe;
}
.nutrient-calculator-table tfoot td:nth-child(3) {
  border-left: 1px solid #cecece;
}
.nutrient-calculator-table tfoot td:nth-child(6) {
  border-right: 1px solid #cecece;
}
